@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

:root {
    --primary: #043873;   
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

button {
    font-family: inherit;
}

.container {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}

header{
    background-color: var(--primary);
}

header .logo{
    flex: 2;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .navbar{
    display: flex;
    justify-content: flex-end;
    flex: 6;
}

.navbar nav ul {
    list-style: none;
    display: flex;

}

header .buttons{
    display: flex;
    flex: 4;
    justify-content: flex-end;
}

.navbar nav ul li{
    color: #FFFFFF;
   padding: 10px;
   margin-left: 20px;
   cursor: pointer;
}

.container .buttons .login{
    background-color: #FFE492;
    color: var(--primary);
}

.bttn .login , .bttn.try{
    margin-left: 14px;
}
.bttn{
    padding: 16px 40px;
    border-radius: 6px;
    border: none;
    background-color: #4F9CF9;
    color: #FFFFFF;
    cursor: pointer;
}
header ~  .main-content{
    background-color: var(--primary);
    background-image: url("../images/wav.png");
    background-repeat: no-repeat;
}

 .main-content .title-container{
    padding: 140px 0;
    color: #FFFFFF;
    display: flex;
    align-items: center;
}

.main-content .title-container .title {
    flex: 5;
    width: 100%;
}

.main-content .title-container .aside-image  {
    display: flex;
    justify-content: flex-end;
    flex: 7;
}

.main-content .title-container h1 {
    font-size: 2.88em;
}

.main-content .title-container p {
    font-size: .857em;
    line-height: 1.5em;
}

.main-content  button.bttn.title-bttn{
    margin-top: 30px;
    flex: 2;
}

.main-content .aside-image img{
    width: 100%;
    height: auto;
    max-width: 100%;
}

section .Project-flex {
    display: flex;
    align-items: center;
    width: 92.5em;
    height: auto;
}
section .Project-flex .project{
    flex: 6;
}
section .work-image img{
    width: 37.5em;
    height: auto;
    flex: 6;
    display: flex;
    justify-content: flex-end;
}
section .Project-flex .project .get-start{
    margin-top: 1.5em;
    padding: 10px 40px;
} 
section .Project-flex .project h1{
    max-width: 100px;
    font-size: 3.5em;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
}
section .Project-flex .project p{
    max-width: 38.06em;
    font-size: .857em;
}
section .together-flex{
    margin-top: 40px;
    display: flex;
    align-items: center;
    align-content: flex-start;
    gap: 10px 204px;
}
section .together-image img{
    max-width: 30.5em;
    height: auto;
    flex: 6;
}

section .together h1{
    font-size: 3em;
    font-weight: 700;
    margin: 0;
}

section .together p{
    font-size: .75em;
    line-height: 1.8em;
}
section .together-flex .together .try-now{
    margin-top: 12px;
    padding: 10px 40px;
} 
.big-container{
    background-color: var(--primary);
    color: #FFFFFF;
}
.big-container .section{
    margin-top: 60px;
    display: flex;
    align-items: center;
    padding: 15px 0;
}
.big-container .section h1{
    font-size: 3em;
}
.big-container .section p{
 font-size: .8em;
 line-height: 1.5em;
}
.big-container img{
    display: flex;
    justify-content: flex-end;
    flex: 6;
    width: 686px;
    height: auto;
}
.big-container .go{
    padding: 18px 40px;
}

.custom-container{
    background-color: #FFFFFF;
    margin: 140px 0;
}
.custom-container .custom-parent{
    display: flex;
    align-items: center;
    gap: 98px;
}
.custom-container .custom-parent img{
    width: 600px;
    height: auto;
    flex: 6;
    display: flex;
    justify-content: flex-start;
}
.custom-container .custom-parent .title-blog{
    flex: 6;
} 
.custom-container .custom-parent .title-blog h2{
    max-width: 77%;
    font-size: 3em;
}
.custom-container .custom-parent .title-blog p{
  font-size: .86em;  
}
.custom-container .custom-parent .title-blog .blogin{
    padding: 18px 40px;
}
.plan-container{
    margin-top: 140px;
}

.plan-container .plan .paiment{
margin: 60px 0 ;
}
.plan-container .title-plan h3{
    font-size: 3em;
    text-align: center;
}
.plan-container .title-plan p{
    text-align: center;
    font-size: 1.2em;
}
.plan-container span{
    display: block;
    text-align: center;
}
.plan .paiment{
    display: flex;
    justify-content: space-around;
}
.plan .paiment .free{
    border: 1px solid #FFE492;
    border-radius: 10px;
    padding: 0 44px;
    max-width: 301px;
    height: 500px;
    margin: 40px 0;
    padding: 40px 44px;
}
.plan .paiment .free p{
}
.plan .paiment p:first-of-type{
    text-transform: capitalize;
    font-size: 1.5em;
}
.plan .paiment p:nth-child(2){
    font-size: 2em;
}
.plan .paiment p:nth-child(3){
    font-size: 1.1em;
}
.plan .paiment p:nth-child(4),
.plan .paiment p:nth-child(5),
.plan .paiment p:nth-child(6),
.plan .paiment p:nth-child(7),
.plan .paiment p:nth-child(8){
    font-size: .8em;
}

.paiment .free button {
    background-color: transparent;
    outline: none;
    border: 1px solid #FFE492;
    padding: 16px 44px;
    border-radius: 5px;
}
.plan .paiment .Personal{
    background-color: var(--primary);
    border-radius: 10px;
    padding: 0px 44px; 
    max-width: 270px;
    height: 540px;
    padding: 60px 44px;
}

.plan .paiment .Personal p:nth-child(1){
    font-size: 1.5em;
}
.plan .paiment .Personal p:nth-child(2){
    color: #FFE492;
    font-size: 2.5em;
}
.plan .paiment .Personal p:nth-child(3){
    font-size: 1.1em;
}
.plan .paiment .Personal p:nth-child(4),
.plan .paiment .Personal  p:nth-child(5),
.plan .paiment .Personal p:nth-child(6),
.plan .paiment .Personal p:nth-child(7),
.plan .paiment .Personal p:nth-child(8){
    font-size: 1em;
}

.your-work{
    background-color: var(--primary);
}
.your-work .work{
    padding: 100px 0;
    color: #FFFFFF;
}
.your-work .work h3{
    font-size: 3em;
}
.your-work .work p{
    font-size: .9em;
    line-height: 1.5em;
}
.your-work .work h3,
.your-work .work p,
.your-work .work p span{
    text-align: center;
}
.your-work .work .button-container{
    text-align: center;
    padding: 20px 40px;
}
.data-container .data{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 100px ;
}
.data-container .data h4{
    font-size: 2.5em;
    margin: 0;
}
.data-container .data p{

    font-size: .82em;
    line-height: 1.5em;
    margin-top: 8px;
    margin-bottom: 16px;
}
.data-container .data .read{
    margin: initial;
}
.data-container .data img{
    width: 590px;
    height: 280x;
}
.our-sponsors{
    margin: 100px;
}
.our-sponsors .sponsors h5{
 text-align: center;
 font-size: 3.5em;
}
.our-sponsors .sponsors img{
  max-width: 100%;
}
.favorite-container{
background-color: var(--primary);
color: #FFFFFF;
}

.favorite-container .yourfavorite{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 150px;
}
.favorite-container .yourfavorite .appps-image{
    width: 500px;
    height: auto;
    flex: 6;
    display: flex;
    justify-content: flex-start;
}

.favorite-container .yourfavorite .title-favorite {
    max-width: 45%;
    
}

.favorite-container .yourfavorite h3{
    font-size: 3em;
    margin: 0;
}
.favorite-container .yourfavorite p{
    font-size: .8em;

}

.favorite-container .yourfavorite button{
    margin: initial;
    margin-top: 20px;
}
.client-container{
    margin-top: 100px;
    background-color: #FFFFFF;
    
}
.client-container .client{
    width: 100%;
    height: auto;
}
.client-container .client  .important-person{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
}
.client-container .client .person {
    max-width: 400px;
    height: auto;
    padding: 40px;
    background-color: #DDF2EB;
    border-radius: 10px;

}

.client-container .client  h3{
    font-size: 3em;
    text-align: center;
}

.client-container .client .person .quote img{
    margin-bottom: 12px;
    width: 60px;
    height: auto;
}
.client-container .client .person .quote p{
    font-size: .8em;
    line-height: 1.5em;
}
.client-container .client .person span{
    display: block;
    padding-top: 40px;
    border-bottom: 1px solid #000;
}
.avatar-container{
    margin-top: 50px;
    display: flex;
    align-items: center;
}
.avatar-container .description{
    margin-left: 42px;
}
.avatar-container .description h2{
    font-size: 1.1em;
}
.avatar-container .description p{
    font-size: .7em;
}
.client-container .client .person.group{
    background-color: #4F9CF9;
    color: #FFFFFF;
}
.client-container .client  .slider{
text-align: center;
}
footer{
    margin-top: 140px;
    background-color: var(--primary);
    color: #FFFFFF;
}
footer .footer-container{
    padding-top: 100px;
    padding-bottom: 20px;
}
footer .footer-container .footer-title{

display: flex;
flex-direction: column;
align-items: center;
}
footer .footer-container .footer-title h3{
font-size: 3em;
margin: 0;
}
footer .footer-container .footer-title  p:first-of-type{
    text-align: center;
    font-size: 1em;
    line-height: 1em;
}
footer .footer-container .footer-title span{
    display: block;
    text-align: center;
}
footer .footer-container .footer-title button + p{
    padding: 14px 0;
    font-size: 1em;
}

footer .footer-container .footer-title img{
 width: 150px;
}
footer .footer-container button{
    margin: initial;

}
footer .footer-container .footer-title .try-free{
    padding: initial;
padding: 12px 24px;
}
footer .main-footer{
    margin-top: 100px;
    display: flex;
align-items: baseline;
gap: 116px;
}
footer .main-footer .section-footer .logo-white img{
    width: 110px;
}
footer .main-footer .section-footer .logo-white p{
    max-width: 179px;
    font-size: .8em;
    line-height: 2em;
}
footer .footer-container .main-footer .produit{
    flex: 4;
}
footer .footer-container .main-footer .produit h3{
    margin: initial;
    margin-bottom: .7em;     
}

footer .footer-container .main-footer .produit span{
    display: block;
    padding: 4px 0;
    font-size: .7em;
    line-height: 1.5em;
}
footer .footer-container  .main-footer .produit  span.over{
 color: #FFE492;
}
footer .footer-container  .main-footer .try-today{
    flex: 6;
    padding: 20px 0;
}
footer .footer-container  .main-footer .try-today h3{
    font-size: 1.4em;
}
footer .footer-container  .main-footer .try-today p{
    max-width: 100%;
font-size: .78em;
}
footer .footer-container  .main-footer .produit .Start-today{
    padding: initial;
    padding: 12px 30px;
}
.lang-container .lang {
    display: flex;
    align-items: center;
}
.lang-container .lang .imag-icon{
    display: flex;
    align-items: center;
    gap: 3px;
}
.lang-container .lang  p{
  font-size: .7em;
}
.lang-container .lang .other{
    display: flex;
    flex: 3;
    padding: 0 13px;
}
.lang-container .lang .other p{
    padding: 0 20px;
}
.lang-container .icon-social{
    display: flex;
    justify-content: flex-end;
    flex: 1;
}