@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --primary: #043873;   
    --main-font:  'Inter', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
}

button {
    font-family: inherit;
}

.container {
    max-width: 1480px;
    height: 100%;
    margin: 0 auto;
}

header{
    background-color: var(--primary);
}

header .logo{
    flex: 2;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .navbar{
    display: flex;
    justify-content: flex-end;
    flex: 6;
}

 header .navbar nav ul {
    list-style: none;
    display: flex;

}

header .buttons{
    display: flex;
    flex: 4;
    justify-content: flex-end;
}

.navbar nav ul li{
    color: #FFFFFF;
    padding: 10px;
    margin-left: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6px;
}
.navbar nav ul li span{
    width: 30px;
    height: 24px;
}

.container .buttons .login{
    background-color: #FFE492;
    color: var(--primary);
}

.bttn .login , .bttn.try{
    margin-left: 14px;
}
.container .buttons .bttn.try{
    display: flex;
    align-items: center;
}
.container .buttons span{
    width: 16px;
    height: 16px;
    margin-left: 10px;
}
.bttn{
    padding: 16px 40px;
    border-radius: 6px;
    border: none;
    background-color: #4F9CF9;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 18px;
    line-height: 23px;
}
header ~  .main-content{
    background-color: var(--primary);
    background-image: url(../images/wav.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.main-content .title-container{
    padding: 140px 0;
    color: #FFFFFF;
    display: flex;
    align-items: center;
}

.main-content .title-container .title{
    flex: 5;
    width: 656px;
    height: 361px;
}

.main-content .title-container .aside-image  {
    display: flex;
    justify-content: flex-end;
    flex: 7;
    width: 824px;
    height: 549px;
}

.main-content .title-container h1 {
    font-size: 60px;
    font-weight: bold;
}

.main-content .title-container p {
    font-size: 18px;
    line-height: 30px;
}

.main-content  button.bttn.title-bttn{
    margin-top: 30px;
    flex: 2;
    display: flex;
    align-items: center;
    gap: 6px
}
.main-content .title-container .title span{
    width: 16px;
    height: 16px;
}

.main-content .aside-image img{
    width: 100%;
    height: auto;
}


section[class=main-project]{
    margin-top: 50px;
}
.main-project .section-container{
display: flex;
align-items: center;
gap: 60px;
} 
.main-project .section-container .project{
    flex: 5;
    width: 672px;
    height: 383px;
}
.main-project .section-container .project h1{
    font-size: 72px;
    letter-spacing: -2px;
    margin: 0;
}
.main-project .section-container .project p{
    font-size: 18px;
    line-height: 30px;
}
.main-project .section-container .project .get-start{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 20px 40px;
    font-size: 18px;
}
.main-project .section-container .project .get-start span{
    width: 16px;
    height: 16px;
}

.main-project .section-container .work-image{
    display: flex;
    justify-content: flex-end;
    flex: 6;
    width: 748px;
    height: 547px;
}
.main-project .section-container .work-image img{
    height: auto;
    width: 100%;
    height: 100%;
}


section[class=main-work]{
    margin-top: 100px;
}

.main-work .together-flex{
    display: flex;
    align-items: center;
    gap: 100px;
}
.main-work .together-flex .together-image{
    display: flex;
    justify-content: flex-start;
    flex: 6;
    width: 710px;
    height: 661px;
}
.main-work .together-flex .together-image img{
width: 100%;
height: 100%;
}
.main-work .together-flex .together{
    width: 740px;
    flex: 6;
}
.main-work .together-flex .together h1{
    font-size: 72px;
    letter-spacing: -2px;
}
.main-work .together-flex .together p{
    font-size: 18px;
    line-height: 30px;
}

.main-work .together-flex .together button{
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 2;
    padding: 20px 40px;
}
.main-work .together-flex .together button span{
    width: 16px;
    height: 16px;
}

.big-container{
    background-color: var(--primary);
    color: #FFFFFF;
    margin-top: 140px;
}

.big-container .section{
    display: flex;
    align-items: center;
    padding: 140px 0;
}
.big-container .section .extension{
  flex: 6;
  width: 697px;
}
.big-container .section .extension h1{
    font-size: 72px;
    font-weight: bold;
    letter-spacing: -2px;
    margin: 0;
}
.big-container .section .extension p{
 font-size: 18px;
 line-height: 30px;
}
.big-container .section .extension button.go{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 60px;
}
.big-container .section .extension button span{
    width: 16px;
    height: 16px;
} 
.big-container .section .image{
    width: 686px;
    height: 479px;
    display: flex;
    justify-content: flex-end;
    flex: 6;
}
.big-container section .image img{
    width: 100%;
    height: 100%;
}
.big-container .go{
    padding: 20px 40px;
}


.custom-container{
    background-color: #FFFFFF;
    margin: 140px 0;
}
.custom-container .custom-parent{
    display: flex;
    align-items: center;
    gap: 98px;
}
.custom-container .custom-parent .blog-image{
    display: flex;
    justify-content: flex-start;
    flex: 6;
    width: 714px;
    height: 532.09px;
}
.custom-container .custom-parent .blog-image img{
    width: 100%;
    height: 100%;
}
.custom-container .custom-parent .title-blog{
    flex: 6;
} 
.custom-container .custom-parent .title-blog h2{
    font-size: 72px;
    letter-spacing: -2px;
    margin: 0;
}
.custom-container .custom-parent .title-blog p{
  font-size: 18px;
  line-height: 30px;

}
.custom-container .custom-parent .title-blog .blogin{
    padding: 20px 40px;
    display: flex;
    align-items: center;
}
.custom-container .custom-parent .title-blog .blogin span{
    margin-left: 10px;
}
.plan-container{
    margin: 140px 0;
}

.plan-container .your-plan .title-plan h3{
    font-size: 54px;
    font-weight: bold;
    letter-spacing: -2px;
    margin: 0;
    text-align: center;
}
.plan-container .your-plan .title-plan p{
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    margin-top: 24px;
}
.plan-container .your-plan span{
    display: block;
    text-align: center;
}

.plan-container  .paiment.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}
.plan-container  .paiment .free{   
    width: 472.33px;
    height: 634px;
    flex: 4;
    border: 1px solid #FFE492;
    border-radius: 10px;
    padding: 40px 44px;
}
.plan-container  .paiment .free p:first-child{
    font-size: 24px;
    line-height: 36px;
    text-transform: capitalize;
    font-weight: 600;
    margin: 25px 0;
}
.plan-container  .paiment .free h4{
font-size: 36px;
font-weight: bold;
letter-spacing: -2px;
margin: 25px 0;

}
.plan-container  .paiment .free h4 + p{
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -1px;
    font-weight: 500;
    margin: 25px 0;
}
.plan-container  .paiment .free p.bullet-point{
    display: flex;
    align-items: center;
    gap: 19px;
    margin: 28px 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}
.plan-container  .paiment .free p.bullet-point span{
    width: 21px;
    height: 21px;
}

.plan-container  .paiment .personal{
    width: 472.33px;
    height: 761px;
    flex: 4;
    background-color: var(--primary);
    border-radius: 10px;
    padding: 80px 44px;
    color: #FFFFFF;
}
.plan-container  .paiment .personal P:first-child{
font-size: 24px;
line-height: 36px;
margin: 25px 0;
}
.plan-container  .paiment .personal h4{
    font-size: 36px;
    font-weight: bold;
    letter-spacing: -2px;
    color: #FFE492;
    margin: 25px 0;
}
.plan-container  .paiment .personal h4 + p{
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -1px;
    font-weight: 500;
    margin: 25px 0;

}
.plan-container  .paiment .personal p.bullet{
    display: flex;
    align-items: center;
    gap: 19px;
    margin-top: 28px;

}
.plan-container .paiment .personal p.bullet span{
    width: 21px;
    height: 21px;
}
.plan-container .paiment .personal  button{
    margin: 25px 0;
}
.plan-container  .paiment .organization{
    width: 472.33px;
    height: 634px;
    flex: 4;
    border: 1px solid #FFE492;
} 
.paiment .free button {
    background-color: transparent;
    outline: none;
    border: 1px solid #FFE492;
    padding: 16px 40px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -1px;
    margin-top: 25px;
}

.your-work{
    background-color: var(--primary);
    background-image: url(../images/background.svg);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 680.74px 691.34px;
    color: #FFFFFF;
    padding: 140px 220px;
}
.your-work .work{
    width: 1064px;
    height: auto;
}
.your-work .work h1{
    text-align: center;
    font-size: 72px;
    font-weight: bold;
    letter-spacing: -2px;
    margin: 24px 0;
}
.your-work .work p{
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
}
.your-work .work .button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
.your-work .work .button-container button.bttn.taskey{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px 40px;
    border-radius: 8px;
}
.your-work .work .button-container button span{
    width: 16px;
    height: 16px;
}
.data-container{
padding: 140px 220px;
}
.data-container .data{
display: flex;
align-items: center;
}
.data-container .data .your-data{
    width: 800px;
    height: 324px;
    flex: 6;
}
.data-container .data .your-data h1{
    font-size: 72px;
    font-weight: bold;
    letter-spacing: -2px;
    margin: 0;
}
.data-container .data .your-data p{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -1px;
    margin-top: 24px;
}
.data-container .data .your-data button.bttn.read{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px 40px;
    border-radius: 8px;
}
.data-container .data .your-data button.bttn.read span{
    width: 16px;
    height: 16px;
}
.data-container .data .your-data button{
    margin-top: 60px;
}

.data-container .data .image-data{
    display: flex;
    justify-content: flex-end;
    flex: 6;
    width: 681px;
    height: 381.13px;
}
.data-container .data .image-data img{
    width: 100%;
    height: 100%;
}
.our-sponsors .sponsors{
    padding: 140px 220px;
} 
.our-sponsors .sponsors .sponsor h1{
    font-size: 72px;
    font-weight: bold;
    letter-spacing: -2px;
    text-align: center;
}
.our-sponsors .sponsors .image-sp{
    width: 1482px;
    height: 71px;
    margin-top: 140px;
}
.our-sponsors .sponsors .image-sp img{
    width: 100%;
    height: 100%;
    overflow-clip-margin: initial;
    overflow: initial;
}
.favorite-container{
background-color: var(--primary);
color: #FFFFFF;
padding: 140px 220px;
background-color: var(--primary);
background-image: url(../images/wav.png);
background-repeat: no-repeat;
background-size: 100% auto;
}
.favorite-container .yourfavorite{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}
.favorite-container .yourfavorite .appps-image{
    display: flex;
    justify-content: flex-start;
    flex: 5;
    width: 582px;
    height: 470.8px;
}
.favorite-container .yourfavorite .appps-image img{
    width: 100%;
    height: 100%;
}
.favorite-container .yourfavorite .title-favorite{
    width: 798px;
    height: 468px;
    flex: 7;
}
.favorite-container .yourfavorite .title-favorite h1{
    font-size: 72px;
    font-weight: bold;
    letter-spacing: -2px;
}
.favorite-container .yourfavorite .title-favorite p{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -1px;
    margin-top: 24px;
}

.client-container{
    margin-top: 100px;
    background-color: #FFFFFF;
    
}
.client-container .client{
    width: 100%;
    height: auto;
}
.client-container .client  .important-person{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
}
.client-container .client .person {
    max-width: 400px;
    height: auto;
    padding: 40px;
    background-color: #DDF2EB;
    border-radius: 10px;

}

.client-container .client  h3{
    font-size: 3em;
    text-align: center;
}

.client-container .client .person .quote img{
    margin-bottom: 12px;
    width: 60px;
    height: auto;
}
.client-container .client .person .quote p{
    font-size: .8em;
    line-height: 1.5em;
}
.client-container .client .person span{
    display: block;
    padding-top: 40px;
    border-bottom: 1px solid #000;
}
.avatar-container{
    margin-top: 50px;
    display: flex;
    align-items: center;
}
.avatar-container .description{
    margin-left: 42px;
}
.avatar-container .description h2{
    font-size: 1.1em;
}
.avatar-container .description p{
    font-size: .7em;
}
.client-container .client .person.group{
    background-color: #4F9CF9;
    color: #FFFFFF;
}
.client-container .client  .slider{
text-align: center;
}
.client-container .client .sliders{
    display: flex;
    justify-content: center;
    gap: 12px;
}
.client-container .client .sliders .circle{
    background-color: #4f9cf9;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}
.client-container .client .sliders .circle.my{
    background-color: var(--primary);
}
footer{
    margin-top: 140px;
    background-color: var(--primary);
    color: #FFFFFF;
}
footer .footer-container{
    padding-top: 100px;
    padding-bottom: 20px;
}
footer .footer-container .footer-title{

display: flex;
flex-direction: column;
align-items: center;
}
footer .footer-container .footer-title h3{
font-size: 3em;
margin: 0;
}
footer .footer-container .footer-title  p:first-of-type{
    text-align: center;
    font-size: 1em;
    line-height: 1em;
}
footer .footer-container .footer-title span{
    display: block;
    text-align: center;
}
footer .footer-container .footer-title button + p{
    padding: 14px 0;
    font-size: 1em;
}

footer .footer-container .footer-title img{
 width: 150px;
}
footer .footer-container button{
    margin: initial;

}
footer .footer-container .footer-title .try-free{
    padding: initial;
padding: 12px 24px;
}
footer .main-footer{
    margin-top: 100px;
    display: flex;
align-items: baseline;
gap: 116px;
}
footer .main-footer .section-footer .logo-white img{
    width: 110px;
}
footer .main-footer .section-footer .logo-white p{
    max-width: 179px;
    font-size: .8em;
    line-height: 2em;
}
footer .footer-container .main-footer .produit{
    flex: 4;
}
footer .footer-container .main-footer .produit h3{
    margin: initial;
    margin-bottom: .7em;     
}

footer .footer-container .main-footer .produit span{
    display: block;
    padding: 4px 0;
    font-size: .7em;
    line-height: 1.5em;
}
footer .footer-container  .main-footer .produit  span.over{
 color: #FFE492;
}
footer .footer-container  .main-footer .try-today{
    flex: 6;
    padding: 20px 0;
}
footer .footer-container  .main-footer .try-today h3{
    font-size: 1.4em;
}
footer .footer-container  .main-footer .try-today p{
    max-width: 100%;
font-size: .78em;
}
footer .footer-container  .main-footer .produit .Start-today{
    padding: initial;
    padding: 12px 30px;
}
.lang-container .lang {
    display: flex;
    align-items: center;
}
.lang-container .lang .imag-icon{
    display: flex;
    align-items: center;
    gap: 3px;
}
.lang-container .lang  p{
  font-size: .7em;
}
.lang-container .lang .other{
    display: flex;
    flex: 3;
    padding: 0 13px;
}
.lang-container .lang .other p{
    padding: 0 20px;
}
.lang-container .icon-social{
    display: flex;
    justify-content: flex-end;
    flex: 1;
}