
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

:root {
    --primary: #043873;   
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

.container {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}

header{
    background-color: var(--primary);
    width: 1920px;
    height: auto;
}

header .logo{
    flex: 2;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .navbar{
    display: flex;
    justify-content: flex-end;
    flex: 6;
}

.navbar nav ul {
    list-style: none;
    display: flex;

}

header .buttons{
    display: flex;
    flex: 4;
    justify-content: flex-end;
}

.navbar nav ul li{
    color: #FFFFFF;
   padding: 10px;
   margin-left: 20px;
}

.container .buttons .login{
    background-color: #FFE492;
    color: var(--primary);

}

.bttn{
    padding: 16px 40px;
    border-radius: 6px;
    border: none;
    margin-left: 14px;
    line-height: 24px;
    background-color: #4F9CF9;
    color: #FFFFFF;
}


header .title-container{
    padding: 140px 0;
    color: #FFFFFF;
    display: flex;

}

header .title-container .title {
    width: 656px;
    height: auto;
    flex: 5;
}

header .title-container .title-bttn{
    margin: initial;
}


header .title-container .aside-image {
    width: 824px;
    height: auto;
    flex: 7;
    display: flex;
    justify-content: flex-end;
}

header .title-container h1 {
    font-size: 3em;
}

header .title-container p {
    font-size: .857em;
    line-height: 1.5em;
}

header .title-container .title-bttn{
    margin-top: 1.357em;
}

section{
    background-color: #FFFFFF;
}


section .Project-flex , section .together-flex{
    display: flex;
    align-items: center;
    width: 1480px;
}

section .Project-flex .project{
    flex: 6;
}

section .work-image img{
    width: 748px;
    height: 547px;
    flex: 6;
    display: flex;
    justify-content: flex-end;
}

section .Project-flex .project .get-start{
    margin: initial;
} 

section .Project-flex .project h1{
    max-width: 100px;
    font-size: 3em;
    text-transform: capitalize;
}

section .Project-flex .project p{
    font-size: .857em;
}


section .together-image img{
    width: 710px;
    height: 661px;
    flex: 6;
    display: flex;
    justify-content: flex-start;
}

section .together-flex .together{
    flex: 6;

}

section .together-flex .together .try-now{
    margin: initial;
} 
