
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

:root {
    --primary: #043873;
   
}

.container {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}
  

body{
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
}
header{
    background-color: var(--primary);
}

header .logo{
    flex: 2;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .navbar{
    display: flex;
    justify-content: flex-end;
    flex: 6;
}

.navbar nav ul {
    list-style: none;
    display: flex;
}

header .buttons{
    display: flex;
    flex: 4;
    justify-content: flex-end;
}

.navbar nav ul li{
    color: #FFFFFF;
   padding: 10px;
}

.container .buttons .login{
    background-color: #FFE492;
    color: var(--primary);

}

.container .buttons .try{
    background-color: #4F9CF9;
    color: #FFFFFF;
}


.bttn{
    padding: 18px 40px;
    border-radius: 6px;
    border: none;
    margin-left: 14px;
    line-height: 24px;
}

